# This is an environment example file providing all the necessary environment variables.
# To use this file, provide all necessary values and remove the `.example` from the file name.

FASTLANE_APPLE_APPLICATION_SPECIFIC_PASSWORD=
GITHUB_TOKEN=
